extends layout

block content
  h1= title 
  p Mahima Chowdary
  div(class="container-fluid")
        div(class="row")
            -
                let watch = [
                    {
                        "Brand": "apple",
                        "price": 300,
                        "color": "apple"
                    },
                    {
                        "Brand": "rolex",
                        "price": 250,
                        "color": "Black"
                    },
                    {
                        "Brand": "fast-track",
                        "price": 50,
                        "color": "yellow"
                    },                  
                     {
                        "Brand": "titan",
                        "price": 100,
                        "color": "green"
                    },    
                     {
                        "Brand": "fossil",
                        "price": 200,
                        "color": "blue"
                    },     
                ]
            each v,index in watch  
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.color}
                
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }                